// Fonts

$Raleway: "Raleway", sans-serif;
$Roboto: "Roboto", sans-serif;
$RobotoCond: "Roboto Condensed", sans-serif;
$Sans: "Source Sans Pro", sans-serif;

// colors
$color-text: #1d1f22;
$color-primary: #5ece7b;
