@use "../../../assets/scss/mixins" as *;
@use "../../../assets/scss/variables" as *;

.attributesContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-bottom: 2.25rem;
  .attribute {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    .attributeName {
      @include font($RobotoCond, 700);
      font-size: 1.125rem;
      text-transform: uppercase;
    }

    .btnContainer {
      display: flex;
      gap: 0.75rem;
      button {
        cursor: pointer;
      }
      .button {
        padding: 0.875rem 1.75rem;
        background-color: #fff;
        border: $color-text solid 1px;
        @include font($Sans, 400);
        font-size: 1rem;
        line-height: 1.125rem;
        text-transform: uppercase;
        &Active {
          @extend .button;
          background-color: $color-text;
          color: #fff;
        }
      }

      .swatch {
        padding: 0.1rem;
        background-color: transparent;
        border: 1px solid rgba(207, 207, 207, 0.2);
        &Active {
          @extend .swatch;
          border: $color-primary solid 1px;
        }
      }
    }
  }
}

.miniAttributesContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  .miniAttribute {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    .miniAttributeName {
      @include font($Raleway, 400);
      font-size: 0.875rem;
      text-transform: capitalize;
    }

    .miniBtnContainer {
      display: flex;
      gap: 0.5rem;
      button {
        cursor: pointer;
      }
      .miniButton {
        background-color: #fff;
        border: $color-text solid 1px;
        @include font($Sans, 400);
        font-size: 0.875rem;
        line-height: 1.4rem;
        text-transform: uppercase;
        padding: 0.125rem 0.25rem;
        &Active {
          @extend .button;
          background-color: $color-text;
          color: #fff;
          padding: 0.125rem 0.25rem;
        }
      }

      .miniSwatch {
        padding: 1px;
        background-color: transparent;
        border: 1px solid rgba(207, 207, 207, 0.3);
        &Active {
          @extend .miniSwatch;
          border: $color-primary solid 2px;
        }
      }
    }
  }
}
