@use "../../assets/scss/mixins" as *;
@use "../../assets/scss/variables" as *;

.wrapper {
  @include font($Raleway, 400);
  color: $color-text;
  max-width: 77.5rem;
  margin: 0 auto;
  margin-top: 5rem;
}
