@use "../../assets/scss/mixins" as *;
@use "../../assets/scss/variables" as *;

.miniCartContainer {
  position: relative;

  .miniCartSwitcher {
    cursor: pointer;
    background-color: transparent;
    transition: background-color 0.5s ease 0s;
    &:hover {
      background: #eeeeee;
      transition: background-color 0.5s ease 0s;
    }
  }

  .quantity {
    position: absolute;
    left: 75%;
    bottom: 50%;
    background-color: $color-text;
    color: #fff;
    @include font($Roboto, 700);
    font-size: 0.875rem;
    border-radius: 50%;
    padding: 0.1rem;
    padding-left: 0.15rem;
    z-index: -1;
    height: 20px;
    width: 20px;
  }

  .basket {
    background: #fff;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 21rem;
    top: 169%;
    right: -110%;
    height: 42rem;
    overflow: auto;
    padding: 2rem 1rem;
    .title {
      align-self: flex-start;
      margin-bottom: 2rem;
      font-weight: 700;
      text-transform: capitalize;
      span {
        font-weight: 500;
      }
    }
    .basketContainer {
      display: flex;
      flex-direction: column;

      .products {
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
        margin-bottom: 8.9rem;
      }
    }
    .placeholder {
      margin: 14.5rem auto;
      font-size: 1.5rem;
      text-transform: uppercase;
      opacity: 0.5;
    }

    .footer {
      position: fixed;
      bottom: 17.4%;
      right: 16.5%;
      padding: 2rem 1rem;
      background-color: #fff;
      .buttonsContainer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 0.75rem;
        background-color: #fff;
        .link {
          @include font($Raleway, 600);
          font-size: 0.875rem;
          text-transform: uppercase;
          color: $color-text;
          background-color: #fff;
          border: $color-text solid 1px;
          padding: 1rem 2rem;
        }
        .button {
          @extend .link;
          border: none;
          background-color: $color-primary;
          color: #fff;
          padding: 1.0625rem 2.0625rem;
        }
      }
      .total {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 2rem;
        @include font($Roboto, 500);
        span {
          @include font($Raleway, 700);
        }
      }
    }
    &::-webkit-scrollbar {
      width: 0;
      opacity: 0;
    }
  }
}

.basketBackground {
  background-color: rgba(57, 55, 72, 0.22);
  position: absolute;
  top: 2.5rem;
  left: -100vw;
  width: 200vw;
  height: 100vh;
}
